{% extends 'common/base.html' %}
{% load widget_tweaks %}

{% block content %}
<style>
  .ph-heading{
      color: #5969f3;
  }
  .ph-base{
      margin-bottom: 2rem;
  }
</style>

<main id="main">
  
  <section id="contact" class="contact mt-3">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>Careers At NetRMM</p>
        </header>

        <div class="row justify-content-center">
            <div class="col-lg-10">
            <p>&emsp;&emsp;&emsp;Welcome to the NetRMM Careers page! Join our dynamic team and contribute to innovative solutions for managed service providers (MSPs) and system administrators. We believe in fostering a collaborative and inclusive work environment where employees can thrive and make a difference. Explore our current job openings below and take the first step towards an exciting career with us.</p>
            <p class="fw-bolder fs-4 ph-heading">
              Why Work at NetRMM ?
            </p>
            <hr class="border border-2 opacity-50">
            <ul>
              <li>Company Culture: At NetRMM, we prioritize teamwork, creativity, and continuous learning. We foster an environment that encourages collaboration, open communication, and personal growth.</li>
              <li>Cutting-Edge Technology: Join a company that is at the forefront of technological advancements in remote monitoring and management(rmm). We offer opportunities to work with the latest tools and technologies, enabling you to sharpen your skills and stay ahead in the industry.</li>
              <li>Impactful Work: At NetRMM, your contributions matter. Join a team that is dedicated to making a positive impact and solving complex problems in [your company's industry] through innovative solutions.</li>
              <li>Career Growth: We are committed to the professional development of our employees. With mentoring programs, training initiatives, and advancement opportunities, we empower our team members to grow and excel in their careers.</li>
            </ul>
            <p class="fw-bolder fs-4 ph-heading">
              How to Apply for Career Opportunities at NetRMM ?
            </p>
            <hr class="border border-2 opacity-50">
            <ul>
              <li>Just Click The Below Button And Go to Our LinkedIn Handle.</li>
              <li>Explore New Openings and Opportunities on NetRMM LinkedIn Handle.</li>
              <li>Easy Apply for Any Opening Through Your LinkedIn Profile.</li>
            </ul>
            <a href="https://www.linkedin.com/company/netrmm/" target="_blank" rel="noopener noreferrer" class="btn fw-bold text-white fw-normal pt-2 pb-2 pe-4 ps-4" style="background-color: #5969f3;border-radius: 10px;">Connect With Us On LinkedIn</a>
          </div>
        </div>
      </div>

    </section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock %}