
{% extends 'common/base.html' %}

{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <ol>
            {% if category %}
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'blogs:blog' %}">Blog</a></li>
            <li>{{ category.name }}</li>
            {% else %}
              <li><a href="{% url 'homepage' %}">Home</a></li>
              <li>Blog</li>
            {% endif %}
          </ol>
          <h2>
            Blog
            {% if tag %}
            : {{tag.name}}
            {% endif %}
          </h2>
        </div>
        <div class="col-lg-4">
          {% if tags %}
          <h3 class="sidebar-title">Tags</h3>
          <div class="sidebar-item tags">
            <ul class="list-unstyled d-flex gap-3">
              {% for tag in tags %}
              <li><a href="{% url 'blogs:blog' %}?tag={{tag.slug}}">{{tag.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center">

        <div class="col-lg-8 entries">
          {% for article in articles %}

          <article class="entry">

            <div class="entry-img">
              <img src="{{article.banner.url}}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="{% url 'blogs:article' slug=article.slug %}">{{article.title}}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{article.author}}</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{ article.created_at }}</time></a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
              {{article.content|striptags|safe|truncatechars:200}}
              </p>
              <div class="read-more">
                <a href="{% url 'blogs:article' slug=article.slug %}">Read More</a>
              </div>
            </div>
            <br>
            <div class="entry-footer">
              <i class="bi bi-tags"></i>
              <ul class="tags">
                {% for tag in article.tags.all %}
                <li><a href="{% url 'blogs:blog' %}?tag={{tag.slug}}">{{tag.name}}</a></li>
                {% endfor %}
              </ul>
              <br>
              
              {% if article.category %}
                <i class="bi bi-folder"></i>
                <a href="{% url 'blogs:blog_category' slug=article.category.slug %}">{{ article.category.name }}</a>
              {% endif %}
            </div>

          </article><!-- End blog entry -->
          {% endfor %}


          <div class="blog-pagination">
            <ul class="justify-content-center">
              {% if articles.has_previous %}
      <li><a href="{% url 'blogs:blog' %}{% if tag %}?tag={{tag.slug}}{% endif %}">
          <i class="bi bi-skip-start-fill"></i>
      </a>
    </li>

      <li><a href="?page={{articles.previous_page_number}}{% if tag %}&tag={{tag.slug}}{% endif %}">
        <i class="bi bi-caret-left-fill"></i>
        </a>
      </li>
      {% endif %}

      {% for num in articles.paginator.page_range %}

      {% if articles.number == num %}
      <li class="active"><a href="?page={{num}}{% if tag %}&tag={{tag.slug}}{% endif %}">{{num}}</a></li>
      {% elif num > articles.number|add:'-3' and num < articles.number|add:'3' %} 
              
      <li><a href="?page={{num}}{% if tag %}&tag={{tag.slug}}{% endif %}">{{num}}</a></li>
      {% endif %}

      {% endfor %}

      {% if articles.has_next %}
      <li><a href="?page={{articles.next_page_number}}{% if tag %}&tag={{tag.slug}}{% endif %}">
          <i class="bi bi-caret-right-fill"></i>
      </a></li>

      <li><a href="?page={{articles.paginator.num_pages}}{% if tag %}&tag={{tag.slug}}{% endif %}">
          <i class="bi bi-skip-end-fill"></i>
      </a></li>
      {% endif %}
            </ul>
          </div>

        </div><!-- End blog entries list -->

      </div>

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->
{% endblock %}